@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.time {
    border-radius: 3px;
    padding: .1rem .4rem;
}

.time.large {
    border-radius: 8px;
    padding: .75em 0.5em;
}

td {
    max-width: 300px;
}

.pomodoro {
    background-color: #ee7777;
}

.break {
    background-color: #6bf;
}
