@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.time {
    border-radius: 8px;
    padding: .75em 0.5em;
}

.pomodoro {
    background-color: #ee7777;
}

.break {
    background-color: #6bf;
}
