@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.time {
    padding: 3rem 1rem 3rem;
    margin: 10px;
}

.pomodoro {
    background-color: #f88;
}

.break {
    background-color: #7bf;
}

.pomodoro, .break {
    border-radius: 8px;
}
